
  .navbar-nav {
    font-weight: 100;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    z-index: 20;
  }
  
  .card-body {
    padding: 0 0 0 0;
    background-color: #a2d9ff;
  }
  
  .card-header {
    color: mediumblue;
    font-family: "Poppins", sans-serif;
  }
  
  .container-main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .container-main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .video {
    width: 100%;
    height: 65%;
    object-fit: cover;
  }
  
  .navbar {
    position: absolute;
    width: 100%;
    display: flex;
  }
  
  .btn {
    padding: 2px 4px 2px 4px;
    margin: 0 0 8px 0;
    top: 2rem;
  }
  
  .nav-link {
    color: mediumblue;
    font-weight: 400;
  }
  
  .navbar-toggler {
    color: white;
    padding: 2px 0 2px 0;
  }
  
  .navbar-toggler-icon {
    color: white;
    font-size: 20px;
  }
  .active {
    
    background: white;
    border-radius: 2px;
  }

  .navbar ul li a:hover {
    color: white;
  }


  .dropdown-menu {
    background-color:#a2d9ff;
  }

  .intro {
    position: relative;
    top: 0;
    left: 0;
    padding: 3rem 0 0 0;
  }
  .intro h3 {
    font-family:  "Poppins", sans-serif;
    color: #3c83ec;
    font-family: 500;
  }
  
  .section-about {
    padding:30rem 0 0 0; ;
    position: relative;
  }
  
  .about-title {
    font-family:  "Poppins", sans-serif;
    color: #3c83ec;
    font-family: 500;
    border: #a2d9ff solid;
    background: #a2d9ff;
    opacity: 50%;
    margin-top: -80px;
  }

  .about-title p {
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .about-title h1 {
    color: mediumblue;
    font-stretch:expanded;
    font-weight: 500;
  }
  
  .section-rooms {
    padding: 3rem 0 0 0;
    top: 0;
    left: 0;
    position: relative;
  }
  
  .intro-room {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
  }
  .intro-room h3 {
    font-family:  "Poppins", sans-serif;
    color: #3c83ec;
    font-family: 500;
  }
  
  .card {
    margin-top: 1rem;
  }
  
  .card-body {
    text-align: center;
    padding: 1rem 0 0 0;
  }
  
  .card-header {
    text-align: center;
  }
  
  li {
    padding-top: 0.5rem;
    display: list-item;
    list-style: none;
    text-align: left;
  }
  
  .section-package {
    padding: 3rem 0 0 0;
  }
  
  .card-img-overlay {
    padding: 0 0 0 0;
    font-size: 1.5rem;
    font-family:  "Poppins", sans-serif;
  }
  
  .section-faqs {
    padding: 3rem 0 0 0;
  }
  
  .accordion {
    background-color: #a2d9ff;
  }
  
  .section-footer {
    padding: 2rem 0 0 0;
    background-color:  #a2d9ff;
    margin-top: 2rem;
  
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 12px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #3c83ec;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: blue;
  }
  
  .follow-us {
    color: mediumblue;
  }
  .social ul li {
    padding: 0 20px 0 20px;
    display: inline;
    text-align: center;
    width: 100%;
  
  }
  
  .link {
    color: mediumblue;
    width: 100%;
  }
  .u-link ul li {
    padding: 0 5px 0 2px;
    display: inline;
    text-decoration: underline;
    text-align: center;
    width: 100%;
     color: #a2d9ff; 
  }
 hr {
        width: 100%;
        height: 100px;
        border-top: 5px solid;
 }



 .img-thumbnail {
   border-color: #a2d9ff; 
   width:300px;
   height: 200px;
 }


figure {
  overflow: hidden;
  margin: 0 10px;

} 
.image img {
  cursor: pointer;
}

.image #Zoom-in img {
  transform: scale(1);
  transition: 0.3s ease-in-out;
} 

.image #Zoom-in:hover img {
  transform: scale(1.5);
}

/* AMENITIES */

.amenities_showcase img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  
}


.intro1 {
left:0;
bottom: 5px;
position: absolute;
z-index: 10;
}

.section-amenities {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  width: 100%;
  height: 100vh;
}

.card-img-overlay {
  position: absolute;
  z-index: 10;
}

#overlay {
  position: absolute;
  width: 100%; 
  height: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(217, 227, 243, 0.5); /* Black background with opacity */
  z-index: 2;
  cursor: pointer; 
}

.carousel{
  top: 10px;
}

.card-title {
  margin-top: 50px;
}

/* facilities */

.box1 h1{
    font-family:  "Poppins", sans-serif;
    color: #3c83ec;
    font-family: 500;
    border: #a2d9ff solid;
    height: 80vh;
    width: 100%;
    text-align: center;
}
.box2 img{
  border: #a2d9ff solid;
  width: 100%;
  text-align: center;
}
.box3 img{
  border: #a2d9ff solid;
  width: 100%;
  text-align: center;
}
.box4 img{
  border: #a2d9ff solid;
  width: 100%;
  text-align: center;
}

